<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h3> <%= pluralize(@post.errors.count, "error") %> occurred </h3>
    <% @post.errors.full_mesages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% end %>

  <%= f.label :title %> <br>
  <%= f.text_field :title %> <br>
  <br>
  <%= f.label :content, "Write your article" %> <br>
  <%= f.text_area :content %> <br>
  <br>
  <%= f.submit%>

<% end %>
